* {
  font-family: "Times New Roman", Times, serif;
}

#signeelvira_001, #signes_steg_001 {
    border-radius: 40%;
}

.instagram_profile {
  width: 300px;
  margin-bottom: 20px;
}

.row {
  display: flex;
}
  
.column {
  flex: 50%;
}

footer {
  position: fixed;
  bottom: 5px;

  /* And if you want the div to be full-width: */
  left: 5px;
  right: 0;
}

