* {
  font-family: "Times New Roman", Times, serif;
}

body{
  background-color: rgb(245, 241, 248);
}

/* unvisited link */
a:link {
  color: rgb(183, 25, 223);
}

/* visited link */
a:visited {
  color: rgb(233, 155, 39);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: rgb(183, 25, 223);
}

.instagram_profile {
  width: 300px;
  margin-bottom: 20px;
}

.instagram_logo{
  margin-bottom: -5px;
}

.row {
  display: flex;
}
  
.column {
  flex: 50%;
}

footer {
  background-color: rgb(245, 241, 248);
  position: fixed;
  bottom: 5px;

  left: 5px;
  right: 0;
}

#signeelvira_001, #signes_steg_001 {
  border-radius: 40%;
}